[2015-01-13 14:37] davekaro opened #1 "Version specifier"
How can I update to moment 2.9? Could whatever is using the shim specify the version? Right now it looks like https://github.com/jasonmit/ember-cli-moment-shim/blob/master/bower.json#L19 is where the version is specified. Maybe loosen that `~2`?

[2015-01-13 18:04] jasonmit commented on #1
Ok will loosen the versioning today and release.

As a temp. fix, you could add momentjs in your bower.json along with a resolution pointing to the version you want.

This would override the shims bower.json version of moment

—
Sent from Mailbox

On Tue, Jan 13, 2015 at 6:37 AM, Dave Kroondyk notifications@github.com
wrote:

[2015-01-13 18:25] davekaro commented on #1
Thanks, doing the resolution override makes sense.

[2015-01-22 02:34] jasonmit commented on #1
https://github.com/jasonmit/ember-cli-moment-shim/blob/master/bower.json

[2015-01-22 02:34] #1 closed, assigned to nobody

[2015-07-18 06:17] jasonmit opened #7 "`ember install` does not invoke moment-timezone bower install in afterInstall hook"
`ember install` does not invoke moment-timezone bower install in afterInstall hook

[2015-07-18 06:22] #7 closed, assigned to nobody

[2015-07-18 07:10] jasonmit opened #8 "Turn on travis ci"
Configuration should be good to go.. just need to create a project in travis

[2015-07-18 19:29] #8 closed, assigned to nobody

[2015-07-18 20:38] jeancdc opened #10 "Path or pattern "bower_components/ember-cli-moment-shim/moment-shim.js" did not match any files"
I've got this bug when I execute `ember s`:

[code]

[2015-07-18 21:04] jasonmit commented on #10
You are pulling in 0.3.x via bower, which is now an ember-addon so it should be installed via `ember install ember-cli-moment-shim` and you can remove the `app.import` within your Brocfile.

Or, you can fix you bower.json on 0.2.0 and upgrade later.

[2015-07-20 14:00] btecu commented on #10
@jeancdc Make sure you don't have another addon relying on `ember-cli-moment-shim`.
In my case, I had `ember-bootstrap-datetimepicker` that uses the old version (`bower`).

[2015-07-20 16:48] jeancdc commented on #10
Yes, I've uninstalled ember-bootstrap-datetimepicker and I don't have this problem anymore.
But I got it if I install the last version of this addon... Is there a solution ?

No problem with version 0.2.0 of ember-cli-moment-shim.

[2015-07-20 16:54] jasonmit commented on #10
Not sure the question.  That error indicates something is trying to app import a file, moment-shim.js, that no longer exists as if 0.2.x.  No app imports are needed since this is now an addon and handles that for you.  You'll need to figure out if you or an addon you are consuming is doing that.

[2015-07-20 16:59] jasonmit commented on #10
Also, do not bring this addon in via bower.  Like all addons these are npm deps.  If you track down the addons, I can send patches to them.

[2015-07-20 17:04] jeancdc commented on #10
Furthermore, when I try to use the command `ember install ember-cli-moment-shim`, I've got

[code]

[2015-07-20 18:02] jasonmit commented on #10
What version of ember cli?

[2015-07-20 18:05] jeancdc commented on #10
1.13.1

[2015-07-20 18:16] jasonmit commented on #10
@jeancdc I threw together an example app with 1.13.1 and can't reproduce this with a fresh `ember new app`

Dug into it further, and discovered it's likely a bug in a dep of ember-cli that has been fixed: https://github.com/ember-cli/ember-cli/issues/4102#issuecomment-103099661

[2015-07-20 18:55] nickschot opened #11 "[Feature request] support for locales"
It seems there is no option (yet) to easily import/use the locales which come with moment with this shim without adding them to the brocfile/ember-cli-build.

[2015-07-20 18:56] jasonmit commented on #11
:+1:

[2015-07-20 21:30] #10 closed, assigned to nobody

[2015-07-20 21:32] jasonmit commented on #11
I'll work on including this.  Are you expecting cherry picked locales to appear in your vendor.js or were you expecting them to just appear in your asset directory to be included via script tags?

[2015-07-20 21:37] nickschot commented on #11
I think I'd expect them in the vendor.js at first. Still thinking about the best way to load them as you'll mostly wan't them on the fly depending on browser locale. All locales together are quite hefty at 131kB minified.. so cherry picked would be good.

[2015-07-20 21:39] jasonmit commented on #11
Yeah. It's a challenging issue.  Love me some fast boot hooks to inject head content into the DOM so you can conditionally include based on user/request context.

[2015-07-20 21:40] jasonmit commented on #11
For now will have them go into vendor.  Thanks for the request, should have something tonight.

[2015-07-20 21:41] nickschot commented on #11
Would be interesting to have such possibilities with fastboot indeed. We'll see what the future brings! Thanks for the quick response!

[2015-07-21 01:39] #11 closed, assigned to nobody

[2015-07-21 02:02] jasonmit commented on #11
0.4.0 now features this.  Thanks

[2015-07-21 08:03] nickschot commented on #11
:thumbsup:

[2015-07-28 02:10] abuiles opened #14 "Tag 0.5.0 release, otherwise bower can't find it."

[2015-07-28 02:24] jasonmit commented on #14
This is now an ember-addon and should be installed through npm.

[2015-07-28 02:24] #14 closed, assigned to nobody

[2015-07-28 03:28] abuiles commented on #14
I got confused because the installer was adding this to my bower.

Anyways, I'm trying to use moment `2.10.5` seems like adding it to the package doesn't do the trick?

[2015-07-28 03:34] abuiles commented on #14
Probably you can remove moment from dependencies and add it via install ?

[2015-07-28 03:53] jasonmit commented on #14
Moment is an npm dep as well, moment time zone is a bower dep and brings in moment with it.  I'll try and see about bringing moment time zone in as an npm dep as well

[2015-07-28 03:55] abuiles commented on #14
cool, I'm experimenting in my own fork and doing this https://github.com/abuiles/ember-cli-moment-shim/commit/a332ae42236ca9a7fc71098eb2e7785f643994a0 works perfect for the scenario I'm tryng to cover. (maybe it might need to go in devDependencies)

Also it looks like the `treeForApp` is not being called when doing `ember test`, I keep getting

[code]

[2015-07-28 04:00] abuiles commented on #14
oh, `treeForApp` is being called. Still trying to figure why is this issue appearing while in the browser it works fine.

[2015-07-28 04:26] jasonmit commented on #14
Can you post your project or reproduce this in an isolated app?

[2015-07-28 04:53] jasonmit commented on #14
https://github.com/jasonmit/ember-cli-moment-shim/commit/414d59310a8e9fda02f8530f37ae84791af38b5a

[2015-07-28 04:55] abuiles commented on #14
@jasonmit ok, so the issue with the import seems to be only in my project, I didn't get the issue in  a clean project. thanks!

[2015-07-28 04:56] abuiles commented on #14
@jasonmit

Why don't you leave it in package.json? just add it to the package.json in the after install?

[2015-07-28 04:57] abuiles commented on #14
the idea down the road is to kill bower, so that could be better too.

[2015-07-28 05:40] jasonmit commented on #14
@abuiles because it's already being pulled in via bower as a dep of moment-timezone, so might as well use that instead of pulling it in twice once via bower and once via npm.

I can't use the moment-timezone package over npm because it does not provide `builds`, it just provides one dist which isn't optimal in the browser.

[2015-09-03 00:48] mmahalwy commented on #10
im getting this now and cannot find the source of it :(

I think it's one of the deps but cannot determine which one

[2015-09-03 02:29] jasonmit commented on #10
Start removing them one by one :\  It's not at all related to ember-cli-moment-shim.

[2015-09-09 23:33] mmahalwy commented on #10
I don't remember how I resolved this, but it was something to do with an addon being outdated that had an older version of `ember-cli-moment-shim` throwing that error. Make sure your addons are up to date

[2015-11-07 17:10] nightire opened #19 "Bug found: can't define any configurations"
Environment:
- Windows 10 Home Edition (win32 x64)
- node.js v4.2.2
- npm v2.14.7
- ember-cli v1.13.8

Descriptions:

After install ember-cli-moment-shim (or upgrade, I've tried a lot of times), if some custom configuration defined, `ember serve` will not success. For examples:

[code]

will causes:

[code]

and

[code]

will causes:

[code]

but if set `includeLocales: true` will be ok.

All thes

[2015-11-08 00:40] jasonmit commented on #19
I don't have a windows VM setup to test, this will take some time unless one can be provided.

[2015-11-08 03:15] jasonmit commented on #19
I believe it to be related to https://github.com/broccolijs/broccoli-funnel/issues/53

In any case, I will attempt to resolve it by remove path.join and will need you to confirm it's working.

/cc @stefanpenner

[2015-11-08 06:16] stefanpenner commented on #19
@jasonmit I'll be likely finishing that issue up in the AM

[2015-11-13 16:40] coladarci opened #20 "Ember-cli upgrade results in Cannot read property 'momentPath' of undefined"
Just upgraded ember-cli to the latest and my project is failing w/

[code]

The line that is failing in your index.js is:

[code]

Any ideas?

[2015-11-14 07:06] jasonmit commented on #20
I'm unable to reproduce this on a fresh ember-cli 1.13.12 app.  Can you provide more details and/or share a sample project with the issue isolated.

Are you using this with ember-moment or another addon?  The only thing I can think of is options is colliding with something else.  Can you try ember-cli-moment-shim@0.7.1

If that still doesn't work, I'll need you to put together something that can r

[2015-11-14 16:49] coladarci commented on #20
Hey Jason - apologies for the firedrill - as you may have suspected, this is due to a bad ember-cli upgrade. I'm not 100% sure what was wrong, but my package.json must have had some bad values since I was experiencing this issue inside an Addon, yet the package.json was upgraded as if it was NOT an addon. Closing...

[2015-11-14 16:49] #20 closed, assigned to nobody

[2015-11-14 22:23] jasonmit commented on #20
It happens, thanks for the quick follow up.

[2015-11-25 08:34] jasonmit commented on #19
Closing since this should be resolved.  Please reopen if you it persists.

[2015-11-25 08:34] #19 closed, assigned to nobody

[2015-11-26 11:27] nightire commented on #19
@jasonmit Thank you, bug seems resolved now.

[2015-11-30 18:01] sethphillips commented on #19
I seem to still be experiencing this with version 0.6.2 on windows only.

[2015-11-30 18:02] jasonmit commented on #19
Please use the latest version

[2015-12-16 06:01] Kilowhisky opened #21 "IncludedLocales is changing default locale"
If i try and cherry pick my locale(s) as described in the documentation.

[code]

The default locale is set to 'es' not 'en'.

If i switch it to

[code]

Then 'en' becomes the default again.

apparently

[code]

is not a valid option either.

Suggestions?

[2015-12-16 06:05] Kilowhisky commented on #21
Also i cannot just use an initializer to switch the locale because i'm using https://eonasdan.github.io/bootstrap-datetimepicker/ which initializes itself before ember initializers run.

[2015-12-16 07:51] jasonmit commented on #21
`includeLocales` has nothing to do with setting the locale, it just makes the locale available within your application.  Useful for cherry picking the locales your application needs to support instead of bringing in the universe.

You still have to set the locale and that is documented here: https://github.com/jasonmit/ember-cli-moment-shim#configure-default-runtime-locale

I don't think you even

[2016-02-05 14:08] Eptis opened #23 "Cherry picking locales does not work"
I'm trying to load in spanish and english locales, but this config is not picked up. When I set the locale with `moment.locale("es")` and check again with `moment.locale()` the locale is still set to `"en"`

[code]

[2016-02-05 14:31] Eptis commented on #23
You can close this, forgot to restart the server after changed the environment.js file

[2016-02-05 18:22] #23 closed, assigned to nobody

[2016-02-28 20:22] rlivsey opened #24 "Fastboot support"
Currently if you run under Fastboot and have moment-timezone enabled, an error is thrown on build because moment-timezone notices it's running under NPM (`require` is present) and attempts to require moment, which fails because obviously neither library is present in `node_modules`:

[code]

I wonder if instead of using Bower, this addon should instead use NPM for the moment and moment-timezone de

[2016-02-28 20:25] jasonmit commented on #24
1.0.0 is using npm packages and not bower.  As for fastboot support, I've been waiting on documentation to best support it.  If you want to take a shot at it, I'll be happy to review.

[2016-02-28 20:27] rlivsey commented on #24
RE NPM - awesome, I hadn't spotted that change. I'll take a stab at Fastboot support in the next day or two and send a PR asap.

[2016-02-28 20:44] jasonmit commented on #24
Looking forward, thanks :+1:

[2016-02-29 03:05] jasonmit commented on #24
I spent a little time looking at this, and it looks like the require in moment-time/moment-timezone-with-data.js invokes the loader.js's require.

We could do two things, play around with https://github.com/ember-cli/loader.js#no-conflict or mutate the javascript to knock out `module.exports = factory(require('moment')); // Node` forcing it to use the `moment` global.

There may be other options.

[2016-03-02 20:39] jasonmit commented on #24
Thanks again, super awesome.  Versioned as 1.1.0

[2016-03-02 20:39] #24 closed, assigned to nobody

[2016-05-18 17:59] SaladFork opened #31 "Cannot overwrite `moment.now` from tests"
In my application I have to group items with dates into buckets "Today", "Tomorrow", "Next Week", etc.. While writing tests for this functionality, I realized the tests would fail if today was on a boundary. For example, given the week starts Monday as per `isoWeek`, running the tests on Sunday would put an item with tomorrow's date into "Next Week" rather than "Tomorrow", causing the tests that l

[2016-05-18 22:37] elwayman02 opened #32 "Use import polyfill?"
https://github.com/ember-cli/ember-cli-import-polyfill

Right now ember-cli-moment-shim can handle being nested one level deep, thanks to [this fix](https://github.com/jasonmit/ember-cli-moment-shim/blob/master/index.js#L20). However, nesting any further will cause more problems. Perhaps you can use this backwards-compatible polyfill to allow it to be nested at any level?

[2016-05-19 00:11] jasonmit commented on #32
I'm in favor, feel free to submit a pr

[2016-05-21 05:36] #32 closed, assigned to nobody

[2016-05-29 23:45] jasonmit commented on #31
This is an ember-moment issue where `now` helper returns `new Date` and not `moment.now`

https://github.com/stefanpenner/ember-moment/pull/175

Will resolve this, will version as part of 7.0.0-beta.2

[2016-05-29 23:45] #31 closed, assigned to jasonmit

[2016-05-31 08:32] jasonmit commented on #32
I'll likely end up reverting it: https://github.com/tomdale/ember-network/pull/7#issuecomment-222508610

[2016-06-15 02:27] adamreisnz opened #41 "Overwriting `moment.now` doesn't seem to work"
I am trying to overwrite `moment.now` function to use a server provided timestamps as per the [docs](http://momentjs.com/docs/#/customization/now/), however, it doesn't seem to work with `ember-cli-moment-shim`.

Is there anything different I need to do to get this to work with `ember-cli-moment-shim`?

[2016-06-15 02:42] adamreisnz commented on #41
Current only work around I found is to directly access the global `moment` object itself, by omitting `import moment from 'moment'` with a `/* jshint -W117 */` warning supressor in place.

[2016-06-15 02:45] jasonmit commented on #41
@adambuczynski yeah, this makes sense because ember-cli-moment-shim returns an EmberObject so changing it's reference of now to point to a different function won't impact the moment global.  I'm guessing then you're relying on some code that references the global instead of ember-cli-moment-shim?

[2016-06-15 03:43] adamreisnz commented on #41
@jasonmit Yes I thought it would be something like that.

If you have a look at the link that I posted to the docs:

http://momentjs.com/docs/#/customization/now/

That feature is something that our application relies on -- we need to be able to override the `.now` function in order to feed a server time offset into moment.

Any way this can be achieved via the EmberObject moment object somehow?

[2016-06-15 04:46] jasonmit commented on #41
I have a PR opened that should resolve this, will merge shortly.

https://github.com/jasonmit/ember-cli-moment-shim/issues/42

[2016-06-15 09:25] adamreisnz commented on #41
Thank you, I will check if this resolved it later on.

[2016-06-16 07:20] adamreisnz commented on #41
Can you release a new npm version with this patch included?

[2016-06-16 07:24] jasonmit commented on #41
Versioned as 2.0.0

[2016-06-16 07:24] #41 closed, assigned to nobody

[2016-06-16 18:17] adamreisnz commented on #41
Seems to be working now, thanks!

[2016-07-01 02:33] adamreisnz commented on #41
Hi @jasonmit , I'm still running into issues with overwriting `moment.now`.

In various places of our application, it now triggers a "long running script" warning in both Firefox and IE. Chrome seems to be unaffected. The problem is created by simply overwriting `moment.now` with the following:

[code]

Any thoughts as to what could be happening?
It happens both with importing the moment shim or j

[2016-07-01 02:47] adamreisnz commented on #41
It seemed the issue was with the way the offset was calculated. For some reasons it caused the scripts to hang. Have refactored it and now no longer seems to be an issue.

[2016-07-01 04:02] jasonmit commented on #41
Nice, hopefully not a bug on my end.  Let me know if it resurfaces

[2016-07-11 16:08] jtrees opened #49 "Update to latest version of broccoli-stew to avoid minimatch vulnerability"
See here:

https://nodesecurity.io/advisories/118

[2016-07-11 20:26] jasonmit commented on #49
`^1.0.0` should bring in `1.3.1`

https://github.com/jasonmit/ember-cli-moment-shim/blob/master/package.json#L26

[2016-07-11 20:26] #49 closed, assigned to nobody

[2016-08-02 11:46] jurecuhalev opened #55 "Using timezone in environment.js crashes fastboot"
Apologies if it's against wrong repo. I'm not yet sure how to distinguish between fastboot and addon errors.

Steps to reproduce:
1. Add:

[code]

to `environment.js`:

[code]
1. Run `NODE_DEBUG=fs ember fastboot --serve-assets`
2.

[code]

This error persists even if I remove the above lines in the `environment.js`

Repo with the above problem: https://github.com/gandalfar/moment-fastboot-example

[2016-08-03 03:52] jasonmit commented on #55
Thanks for the example app, I'll need a few days to dig into it.

/cc @rlivsey who had done some work to implement fastboot support who may have encountered this

[2016-08-03 04:34] jasonmit commented on #55
@gandalfar I pulled the repository down and I'm not able to reproduce this.

The only difference being I'm on linux, everything else is the same.

![image](http://i.imgur.com/No5OKQj.png)

[2016-08-03 04:52] jasonmit commented on #55
Update: The first time I try and build ember-cli-fastboot fails with:

[code]

This looks to be happening when fastboot tries to npm install.  Since it's failing there for me, it's likely why I'm not seeing the error you are pointing out.  This error looks unrelated to ember-moment/ember-cli-moment-shim but I'll need to figure out how to resolve that before tackling this issue.

[2016-08-03 04:57] jasonmit commented on #55
Update 2: looks like the above issue is a race condition between fastboot and when the dist folder is created.

I was not able to see your issue after that.  Can you try backing down to `ember-cli-fastboot@1.0.0-beta.4` to see if you can reproduce it there?

[2016-08-03 04:57] jurecuhalev commented on #55
Trying it now

[2016-08-03 05:02] jurecuhalev commented on #55
It looks like this might be unrelated to `ember-moment`. I've had the `includeTimezone` commented out by accident and it still crashed with `ember-cli-fastboot@1.0.0-beta.4`

The first time I run it, it runs correctly. The second time, (just ^C between), it crashes with:

[code]

[2016-08-03 05:07] jasonmit commented on #55
Yeah, I believe this to be a symptom of the same race condition I pointed out above.  There are string of issues that seem to be stemming around the same thing, the `npm install` either nooping because the package.json was rewritten to `/dist` and it noops.  Or, you can get into the state above, but it all seems to stem from around the `exec('npm install')` in the ember-cli-fastboot tasks\fastboot

[2016-08-03 05:07] jurecuhalev commented on #55
Ok, I did now `nombom` and rerun it with `"ember-cli-fastboot": "1.0.0-beta.8"` and the problem is still there, it seems that I mistakenly connected with the timezone variable.

Thanks for quick feedback. I'll open a new issue and reference this for reference.

[2016-08-03 08:18] #55 closed, assigned to jasonmit

[2016-08-22 17:49] sn3p commented on #21
Similar behaviour here:

[code]

This changes the default to `nl`, but would expect `en`.
But `includeLocales: true` sets the default to `en`.

Maybe because `en.js` doesn't exist as a locale?
https://github.com/moment/moment/tree/2.10.3/locale

[2016-08-23 19:50] jasonmit commented on #21
@sn3p without digging in, I believe `en` is bundled by default so you don't need to provide it.  Though, I could be wrong... I can dig deeper soon.  Reopening to keep it on my radar or for anyone else to look into in the meantime.

[2016-08-23 22:12] sn3p commented on #21
@jasonmit you're right that `en` is bundled (just tested).
But leaving it out from `includeLocales` still overwrites the default. Not a big deal because you can set the locale, but still unexpected behaviour I'd say.

[2016-08-25 04:29] jasonmit commented on #21
So ember-cli-moment-shim does not do anything special around setting the default locale.  Momentjs liekly registers whatever registers locale data first as the default -- in this case it is `nl` since `en` is bundled already and is skipped.

This isn't something ember-moment/ember-cli-moment-shim handle automatically.  Setting the locale manually is what you'll want to do.  If you think there's a

[2016-08-25 04:29] #21 closed, assigned to nobody

[2016-08-25 12:46] scambier opened #64 "Website for documentation is down"
Multiple 404 for CSS and JS files: https://piceatech.github.io/ember-rapid-forms/

[2016-08-25 17:15] jasonmit commented on #64
Wrong project, this is ember moment shim not rapid forms

[2016-08-25 17:15] #64 closed, assigned to nobody

[2016-09-27 03:36] jasonmit opened #75 "Validate locale data is still loading on #master"
Ref https://github.com/jasonmit/ember-cli-moment-shim/pull/74#issuecomment-249757950

[2016-10-17 06:04] jasonmit commented on #75
This doesn't look to be a regression, it looks like moment never contained localization data whenever ember-cli-moment-shim was invoked within FastBoot.  I'll open a separate issue for this.

/cc @kellyselden

[2016-10-17 06:04] #75 closed, assigned to nobody

[2016-10-17 06:06] jasonmit opened #79 "Add FastBoot test support"
Fastboot test support is in its infancy, but some exploring and if the path forward is clear enough.. then implement fastboot test support.

[2016-10-17 06:07] jasonmit opened #80 "Add moment locale data for fastboot"
Currently fastboot builds only contain timezone information, it does not include localization data.

[2016-10-17 06:22] jasonmit commented on #80
False alarm. `moment.locales()` is lazy and what is returns is not reflective of all the locales available.

[2016-10-17 06:22] #80 closed, assigned to nobody

[2016-10-17 06:22] jasonmit commented on #75
False alarm. `moment.locales()` is lazy and not reflective of all the locales available.

[2016-10-17 18:25] kellyselden commented on #79
I've been working in this space recently. https://github.com/kellyselden/ember-data-fetch-support/pull/12 may get you almost all the way.

[2016-10-17 23:09] jasonmit commented on #79
Excellent, I'll use this as a reference.  I'll try to work on this soon.

[2016-11-20 12:17] lolmaus opened #90 "Tag all releases in git"
Recent version tags are missing. Please tag all missing releases. If that's no longer possible, at least tag current versions in `1.x` and 2.x` lines.

[2016-11-21 00:29] jasonmit commented on #90
Fixed, thanks

[2016-11-21 00:29] #90 closed, assigned to nobody

[2016-11-21 13:44] emilt27 opened #91 "How to use moment-timezone?"
I have enabled moment-timezone in  [config/environment.js](https://github.com/jasonmit/ember-cli-moment-shim#enabling-moment-timezone)
But it does not work for me.
[code]
I have got the following error:
`Uncaught TypeError: Cannot read property 'guess' of undefined`

[2016-11-21 15:35] emilt27 commented on #91
I have found the reason of this problem. There is the `ember-cli-daterangepicker` package in my project's package.json.

[2016-11-21 15:35] #91 closed, assigned to nobody

[2016-12-14 14:37] ilucin opened #97 "Ember.computed.sort not working since 3.0.0"
It can't sort arrays of moment objects because they are not instances of Ember.Comparable any more. Failing test provided in PR #96

[2016-12-14 21:06] jasonmit commented on #97
Yeah, that's something I was apprehensive about continuing support in 3.0.0.  I naively thought the presence of `compare` off the prototype was enough for `Ember.computed.sort`.

The reason for the change was it made reassignments & comparisons flakey, maintaining a list of moment methods that return moment objects and wrapping them will not scale as changes go upstream into moment.

While you no

[2016-12-21 10:52] jasonmit opened #98 "ember-twiddle has issues consuming ember-cli-moment-shim"
[code]

[2016-12-29 23:58] #97 closed, assigned to nobody

[2017-02-02 16:00] andersonlimasoa commented on #19
The Locale don't is working for me , in emberJS

my veresions:

ember-cli: 2.10.0
node: 6.9.4
os: linux x64

this is my  // config/environment.js

[code]

in helper
helpers/moment-from-now.js

import Ember from 'ember';
import config from '../config/environment';
import FromNowHelper from 'ember-moment/helpers/moment-from-now';

export function momentFromNow([value, ]/*, hash*/) {
  // moment.loca

[2017-02-02 16:02] Andersonlimahw commented on #19
The Locale don't is working for me , in emberJS

my versions:

ember-cli: 2.10.0
node: 6.9.4
os: linux x64

this is my  // config/environment.js

[code]

in helper
helpers/moment-from-now.js

[code]
export default Ember.Helper.helper(momentFromNow);

// in my template.hbs
`
{{moment-from-now model.statusDate 'DD/MM/YYYY' locale='pt-br'}} `

its render bug in en-us
can you help me  ?

[2017-04-03 14:19] urbany opened #121 "includeTimezone: '2010-2020' not working with latest version of moment-timezone (0.5.12) because it ships with 2012-2022"
Check: https://github.com/moment/moment-timezone/commit/78eb6bef64d5c046f18751566c5b8ff3a0ca1185#diff-42ba1d994f4fa8c6ad17a7efae7936ccR3

Not sure how this should be solved.
Should we start using `includeTimezone: '2012-2022'` and bump minimum `moment-timezone` dependency to 0.5.12?

[2017-04-04 07:09] Blackening999 commented on #121
My application in production showing next error:

[code]

[2017-04-04 07:10] Blackening999 commented on #121
Fix this ASAP please.
Don't want to fork because of it

[2017-04-04 08:36] jasonmit commented on #121
@Blackening999 fork and patch like a good steward of the community.  Otherwise, lock your deps and wait for me, or someone else, to patch it.

I should be able to fix it tomorrow.

[2017-04-04 12:31] makepanic commented on #121
What would be the way forward?
I don't think we'd want ember-cli-moment-shim consumers to break because moment-timezone doesn't include the 2010-2020 build anymore.

The issue is basically in the hardcoded value [here](https://github.com/jasonmit/ember-cli-moment-shim/blob/master/index.js#L213).
Adding a case for `2012-2022` and pointing to the correct file won't solve the issue for `2010-2020` us

[2017-04-04 17:25] jasonmit commented on #121
@makepanic The way forward will be to match on moment-timezone-with-data-*.

I'll also introduce a new option in replace of `2010-2020` that best describes the decade of data.  For now, `2010-2020` will fallback to matching on `moment-timezone-with-data-*` so peoples builds stop breaking.  If you use 2010-2020 I'll throw a warning at build time mentioning the breaking change in momentjs' data.

Th

[2017-04-05 00:51] jasonmit commented on #121
I versioned 3.0.3 to lock moment-timezone to <= 0.5.11 until I find time to support >= 0.5.12

[2017-04-05 01:27] #121 closed, assigned to nobody

[2017-04-05 01:29] jasonmit commented on #121
3.1.0 was released which adds wildcard support within the timezone data filename and deprecated "2010-2020" as an option in favor of "subset" which will scale better into the future.

[2017-04-05 08:31] urbany commented on #121
@jasonmit thanks for the quick fix mate! Seems like something went wrong with the 3.1.0 release though. Latest vesion on NPM is still 3.0.3 - https://www.npmjs.com/package/ember-cli-moment-shim

[2017-04-05 08:35] jasonmit commented on #121
@urbany I (re)published, should be good now.

[2017-04-08 20:32] jrjohnson opened #124 "Please push tags with NPM releases"
First off,  We love the library - thanks!

In the future - if possible - can you please push the `npm release` tags to github? It is much more difficult to examine changes between versions without tags.

[2017-04-08 21:38] jasonmit commented on #124
Should now have all the release tags, thanks for reporting this

[2017-04-08 21:38] #124 closed, assigned to nobody

[2017-04-09 17:19] jrjohnson commented on #124
Perfect. Thanks.

[2017-04-10 04:06] mcfiredrill commented on #121
Thanks for getting this fix out so quick

[2017-05-10 19:36] zomarg opened #136 "broccoli-funnel / broccoli-merge-trees as dependency"
Is there any reason why broccoli-funnel and broccoli-merge-trees are as dependency and not as a dev-dependecy?

[2017-05-22 20:29] jasonmit commented on #136
https://github.com/jasonmit/ember-cli-moment-shim/blob/master/index.js#L3-L6

They are direct dependencies of the project and not dev dependencies.

[2017-05-22 20:29] #136 closed, assigned to nobody

[2017-05-23 09:57] jasonmit opened #138 "Fastboot rc support"
Fastboot changed a bit in the rc1 and ember-cli-moment-shim will no longer work until we adopt the new build API.

[2017-06-01 05:20] #138 closed, assigned to nobody

[2017-06-25 21:30] simonihmig opened #141 "Fix breaking changes in FastBoot 1.0"
The current `ember-cli-fastboot` releases (1.0.0-rc.1 and above) introduce breaking changes. These will most likely break your current FastBoot implementation.

See https://github.com/ember-fastboot/ember-cli-fastboot/issues/387 for more information and a guide on how to fix your addon. Also you may want to visit the `-fastboot` Slack channel to get help from other users.

*Note: this issue has be

[2017-06-26 02:41] jasonmit commented on #141
This was fixed a few weeks back - are you noticing something not working?

Ref: https://github.com/jasonmit/ember-cli-moment-shim/commit/493b5ab2b281da45e5df96f5d69c1a84f26bcbab

[2017-06-26 02:41] #141 closed, assigned to nobody

[2017-06-26 10:05] simonihmig commented on #141
@jasonmit No, as written above the issue was created automatically to inform all addon authors of those breaking changes. In you case it was triggered by https://github.com/jasonmit/ember-cli-moment-shim/blob/master/index.js#L16. But it seems you support beta and rc versions, so this can be ignored then. Sorry for the false alarm! ;)

[2017-07-12 12:21] amk221 opened #142 "moment.tz is undefined"
Might be having a silly 'moment' here, but with a fresh ember-cli project
and `ENV.moment.includeTimezone = 'all'`

`moment.tz` === undefined

[code]

[2017-07-13 08:22] jasonmit commented on #142
I spun up an new project with ember-cli@2.14.0 and could not replicate.  Can you push your fresh project anywhere?  Do you happen to have other addons installed?  If so, can you paste what they are.

![image](https://user-images.githubusercontent.com/3108309/28157025-f4da10d4-6769-11e7-8b82-8efafd36c8c5.png)

[2017-07-13 10:02] amk221 commented on #142
Yeh, it was my mistake. Thought it would be 😆

Sorry for your time!

[2017-07-13 10:02] #142 closed, assigned to nobody

[2017-07-28 06:43] Blackening999 opened #143 "Upgrade to ember-cli-babel@^6.0.0"
This addon is outdated with the recent Ember versions

[code]

[code]

[2017-08-02 08:36] #143 closed, assigned to nobody

[2017-08-02 08:39] jasonmit commented on #143
Fixed in 3.4.0

[2017-08-30 15:59] briangonzalez opened #145 "`FastBoot is not defined` – Issues with lazy-loading engines and ember-cli-moment-shim"
We're attempting to use `ember-cli-moment-shim` in our _non-fastbooted_ ember app. We're encountering an error when we navigate to our lazy-loaded engine (see below).

I suspect [this line](https://github.com/jasonmit/ember-cli-moment-shim/blob/master/public/fastboot-moment-timezone.js#L3) is causing the issue, as `FastBoot` is not defined.

Any ideas?

<img width="508" alt="screen shot 2017-08-30

[2017-08-30 19:43] jasonmit commented on #145
@briangonzalez First time this is reported and it's used heavily through ember-moment.  I suspect Ember engines is doing something that I wasn't anticipating.  Can you replicate it with a dummy app?

If not, I have some ideas on how to remove `FastBoot.require`.  Will try that later on tonight if I don't hear back.

[2017-08-30 22:46] majew7 commented on #145
@jasonmit This issue was reproducible when building in 'production' environment mode.

    ember build --environment "production"

Context:
 - Ember Engine uses ember-cli-moment-shim
 - Build in 'production' env
 - Not using FastBoot

[2017-08-30 23:57] jasonmit commented on #145
Thanks for the feedback @majew7, the issue occurs with and without lazy engines?

[2017-09-03 21:04] jasonmit commented on #145
Before I version, can either of you verify this fixes the issue:
https://github.com/jasonmit/ember-cli-moment-shim/commit/591ae7a3c164df8023838d4f04e20c98583b555c

[2017-09-05 19:17] Dhaulagiri opened #146 "Fastboot assets in build in non-fastboot app"
With 3.4.0 of this addon I'm seeing these files in my build even though I'm not in a fasboot app, is this expected?

 * `dist/moment/fastboot-moment.js`
 * `dist/moment/fastboot-moment-timezone.js`

[2017-09-05 22:34] jasonmit commented on #146
@Dhaulagiri I have some ideas on how to remove this, but for now it is expected and harmless.  Will tackle after #145.

The patch will be to look for the presence of ember-cli-fastboot in the `project.addons` and otherwise return an empty public tree.

Update: actually, this would also solve for #145 so I will couple two issues together.

[2017-09-06 01:28] majew7 commented on #145
Yes, @jasonmit, I will verify in the next 24 hours.

[2017-09-06 06:20] majew7 commented on #145
It's working @jasonmit.  Retrieving from `"ember-cli-moment-shim": "^3.3.3"` things look good.

[2017-09-06 14:28] majew7 commented on #145
Hi @jasonmit,
While my local development test looked good with
`"ember-cli-moment-shim": "jasonmit/ember-cli-moment-shim.git#591ae7a",`
 I wanted to also verify in our QA environment.  I should know soon.

[2017-09-06 18:42] #146 closed, assigned to jasonmit

[2017-09-06 18:59] jasonmit commented on #145
3.5.0 resolves this, thanks everyone

[2017-09-06 22:13] #145 closed, assigned to jasonmit

[2017-09-07 02:56] majew7 commented on #145
Thanks @jasonmit!  We are consuming the new 3.5.0 version.  Much appreciated.

[2017-10-26 13:40] Techn1x opened #148 "Implement Ember.Copyable"
Obviously it's easy to copy a moment just by wrapping it in moment(), but if I wanted to copy a moment using `Ember.copy(value, true)` then moment needs to implement Ember.Copyable for this to work

Is this possible?

A use case could be having an object like the following;
[code]
Then wanting to do `Ember.copy(momentHash,true)`

Thoughts?

-----

Issue originally opened here;
https://github.com/s

[2017-11-03 01:56] jasonmit commented on #148
@Techn1x thanks for opening the issue, it's certainly something I'd also like to see.  Will try and prioritize it if no one gets around to it.

[2017-11-03 02:34] Techn1x commented on #148
@jasonmit Thanks for the response! I believe @mpirio already has a working solution and will be making a PR soon
https://github.com/mpirio/ember-cli-moment-shim/tree/feature/implementEmberCopyable

[2017-11-03 08:56] mpirio commented on #148
Hello,

When you `import moment from 'moment'`, `moment` is not an `Ember.Object` anymore since 3.0.0 (cf #97). So we can not implement easily Ember.Copyable (with `Ember.Object.extend`, etc).

When we use `Ember.copy(momentObj)`, the method use `Ember.Copyable.detect(momentObj)` to know if `momentObj` implements `Ember.Copyable` before use its `copy` method (cf [copy.js#L93](https://github.com/em

[2017-11-03 18:33] jasonmit commented on #148
Truthfully, I'm torn about reintroducing the EmberObject wrapper around moment given the complexity it adds.  Each method that returns a moment object would need to be reimplemented and the return value wrapped in our EmberObject "wrapper".

If it's avoidable, I'd prefer to go in that direction but this line may be an issue:
https://github.com/emberjs/ember.js/blob/master/packages/ember-metal/lib/

[2017-11-03 22:16] mpirio commented on #148
I understand. That's why I do not propose to export an `Ember.Object`. I just did a PR (#149) but the principle is identical (_reimplementation of each moment method, wrapped return values, etc_).

[2017-11-17 12:18] noplisu opened #150 "Funnel: Expected Broccoli node, got undefined for inputNodes[0]"
I am creating a ember addon. When adding `ember-cli-moment-shim` to dependencies in `package.json` I am getting an error:
[code]
The error is caused by `this.momentNode` being undefined in `index.js:146`
[code]
When testing this I am getting `undefined` for both `this._options` and `this.momentNode` when checking them outside of `included` where they are assigned. `included` is called before `tree

[2017-11-21 19:40] jasonmit commented on #150
@noplisu any chance you can push this addon anywhere for me to debug against?

[2017-11-23 09:21] noplisu commented on #150
The error was caused by me using `this._super.included(app)` in `index.js`, `included` of my addon instead of `this._super.included.apply(this, arguments);`

[2017-11-23 09:21] #150 closed, assigned to nobody

[2018-01-16 20:28] mazondo opened #154 "Issue with new fastboot ember-engines support"
when working with the new fastboot support for ember-engines (https://github.com/ember-engines/ember-engines/pull/494) ember-cli-moment-shim is throwing the following error: `TypeError: Cannot set property 'compare' of undefined`

It looks like this is referring to here: https://github.com/jasonmit/ember-cli-moment-shim/blob/master/addon/index.js

I've been sleuthing through the trees, and I'm not

[2018-02-03 00:29] Duder-onomy commented on #154
I am running into the same exact issue, and I am not using engines.

What I have found is,
this line: https://github.com/jasonmit/ember-cli-moment-shim/blob/master/addon/index.js#L17
Is trying to set `compare` on to moment and its prototype, however, moment is undefined.
In that file, moment is imported from `./lib` which exports moment... but that export is undefined in fastboot land.  Using the

[2018-02-22 22:08] Duder-onomy commented on #154
@mazondo I figured out how to fix this, but I am still digging into WHY it is a problem.
You MUST include `ember-moment` and `ember-cli-moment-shim` in the `package.json` of the parent app if you want it to work during fast boot.

@jasonmit Do you know why we would need to include Moment in our parent apps package.json directly to get it working in fastboot? Seems like addons that use moment will

[2018-02-23 00:32] jasonmit commented on #154
Is this a case where you have an addon that is dependent on moment?

[2018-02-23 00:52] jasonmit commented on #154
I have a pretty good sense of the issue (`Fastboot.require`), will try and figure out a solution soon.

For now, if you have an app that needs fastboot and have an addon that has a dep on moment/moment-timezone then add them as immediate deps to your app.

[2018-02-23 01:50] Duder-onomy commented on #154
Thanks @jasonmit ! Yeah, I have an in-repo-addon that uses moment, but my main app does not. Putting that into the main apps package.json is fine with me for now.

[2018-03-05 20:23] robertbenjamin opened #155 "Using vulnerable version of moment"
Any version of moment before 2.19.3 is prone to a [Regex DOS attack](https://nvd.nist.gov/vuln/detail/CVE-2017-18214). The package should be updated to 2.19.3 or later to close this vulnerability.

[2018-03-06 08:37] jasonmit commented on #155
Just FYI, you can install `moment` in your app's package.json and ember-cli-moment-shim will bundle that version over the addon's version of moment.

[2018-03-06 08:40] jasonmit commented on #155
Released 3.5.1, thank you

[2018-03-06 08:40] #155 closed, assigned to nobody

[2018-03-06 09:54] mydea opened #157 "3.5.1 breaks build"
After updating from 3.5.0 to 3.5.1, my build is not working anymore.

I get this error:

[code]

Dowgrading back to 3.5.0 fixes it for me.

I'm not entirely sure, I found this commit, which says "BREAKING": https://github.com/jasonmit/ember-cli-moment-shim/commit/63894b9ba0f47de857aa3ed78d8d10eb0f755a4b

But it was released as a patch version? Do I need to change anything?

I found this issue in a

[2018-03-06 14:55] brianshano commented on #157
It also broke my build when trying to run ember in Ubuntu.
ember 2.9.1
[code]

Reverting to 3.5.0 fixed it too

[2018-03-07 01:22] robertbenjamin commented on #155
Thanks a lot!

[2018-03-07 08:23] Speennaker commented on #157
Hello! I have the same issue as @brianshano

09:11:51 SyntaxError: Unexpected token =
09:11:51     at exports.runInThisContext (vm.js:53:16)
09:11:51     at Module._compile (module.js:373:25)
09:11:51     at Object.Module._extensions..js (module.js:416:10)
09:11:51     at Module.load (module.js:343:32)
09:11:51     at Function.Module._load (module.js:300:12)
09:11:51     at Module.require (module.

[2018-03-07 18:49] jasonmit commented on #157
Will release another patch, apologies for that.

[2018-03-07 18:57] jasonmit commented on #157
3.5.3 resolves this.  I'll reintroduce the breaking changes in the next major version bump.  For now, reverted all the breaking commits.

[2018-03-07 18:57] #157 closed, assigned to nobody

[2018-04-11 20:23] Bartheleway opened #159 "Remove deprecated exists-sync dependency"
Hi,

I'm getting the following warning in my console :
`warning ember-cli-moment-shim > exists-sync@0.0.4: Please replace with usage of fs.existsSync`

Does this dependency is still in use ?

[2018-04-14 19:50] jasonmit commented on #159
Still used, feel free to submit a PR for it's removal.

[2018-04-14 20:40] Bartheleway commented on #159
I have some troubles with the compilation because I'm using node 9. Do you think it would be an issue to enable version 9 for this project ?

[2018-04-14 20:48] jasonmit commented on #159
@Bartheleway unclear what the issue is.  Can you post the logs you're seeing that indicate ember-cli-moment-shim is incompatible with Node 9?

The above log you provided is a warning and shouldn't break your build.

[2018-04-14 22:35] Bartheleway commented on #159
Let me clarify then. I did try to make a PR but when I tried to compile this project to check everything was okay with my configuration (Node 9), the built was failing. I unfortunately don't remember what was the exact error.

I currently don't have access to my computer but I will try again soon and give you the error.

[2018-04-17 18:09] Bartheleway commented on #159
I'm getting this error :
`error ember-cli-babel@6.0.0-beta.9: The engine "node" is incompatible with this module. Expected version "^4.5 || 6.* || 7.*".`

I think this might comes from at least ember-try and ember-disable-prototype-extensions but even if I remove these, I still get the error. Any ideas ? I will continue to try looking at package.json to see I found a way to make it work.

[2018-04-17 19:28] Bartheleway commented on #159
I did my PR using `yarn --ignore-engines`. I hope this will not cause any trouble (this should not).

[2018-04-17 19:44] #159 closed, assigned to nobody

[2018-04-17 19:47] jasonmit commented on #159
3.7.0 - thanks!

[2018-04-18 01:16] kle-dev opened #161 "Error after updating"
After updating Ember on latest version:

I followed this tutorial: https://github.com/ember-cli/ember-cli/releases/tag/v3.1.2

I got:

`broccoli-persistent-filter:Mapper: Expected Broccoli node, got undefined for inputNodes[0]`

caused by ember-cli-moment-shim.

[2018-04-18 01:38] jasonmit commented on #161
Can you mention which version on moment shim you are using?

[2018-04-18 01:39] jasonmit commented on #161
Can you also try 3.6.0 if 3.7.0 is causing this and report back

[2018-04-18 01:39] kle-dev commented on #161
I tried 3.6.0 and the newest 3.7.0

[2018-04-18 01:40] jasonmit commented on #161
Can you then try and reproduce it with a demo app?  Hard for me to fix if unable to reproduce

[2018-04-18 01:43] kle-dev commented on #161
ember new projectname
ember install ember-cli-moment-shim
ember s

and then:
`broccoli-persistent-filter:Mapper: Expected Broccoli node, got undefined for inputNodes[0]`

[2018-04-18 01:51] jasonmit commented on #161
`ember i ember-cli-moment-shim@3.6.0` does not have this issue, it's a bug that appeared in 3.7.0.  I'll look into fixing, for now target 3.6.0

[2018-04-18 02:04] jasonmit commented on #161
3.7.1, thanks

[2018-04-18 02:04] #161 closed, assigned to nobody

[2018-05-09 08:33] willviles opened #162 "Moment range integration"
👋 Wondering if you'd accept a PR for [moment-range](https://github.com/rotaready/moment-range) integration?

[Ember CLI Moment Range](https://github.com/hankfanchiu/ember-cli-moment-range) exists, but is not maintained, uses a bower package app import and isn't compatible with ember-moment & ember-cli-moment-shim.

The [moment-range](https://github.com/rotaready/moment-range) library is well maint

[2018-05-29 09:13] willviles commented on #162
PR #163 has been issued.

[2018-06-04 10:33] #162 closed, assigned to nobody

[2018-06-21 16:55] rtablada opened #164 "QUEST - Make Ember CLI Moment Shim Optional"
Ember CLI Moment Shim was built as just that: a shim to be able to `import moment from 'moment';`.
It has served this purpose great but we are on the horizon of being able to just import moment without any extra fanfare or shim.
This quest serves as a place to list known community addons that have a hard dependency for `ember-cli-moment-shim` and a place to log progress of helping to remove this d

[2018-06-21 18:54] jasonmit commented on #164
I've made you collaborator if you want to carry the torch on this quest.  I'm in agreement that we should start leveraging the current shift to auto-import & the eventual packager hook(s).

[2018-07-06 17:29] ehubbell opened #165 "Fastboot 1.1.3 - Cannot find module 'moment'"
I’m running into a couple of dependency / module issues with this library when running the `fastboot-app-server` locally. When I have `includeTimezone: 'all'` listed in my environment file, build the ember app, and then start my node server using `PORT=8000 node server.js` I get the following error:

[code]

When I remove `includeTimezone: 'all'` from my environment file, I get the following:

[co

[2018-07-16 07:12] jacobq opened #166 "Advantages over ember-auto-import?"
I am currently using this shim in a project but am trying to migrate to using [`ember-auto-import`](https://github.com/ef4/ember-auto-import). Can you help me understand how this differs? For example, would this cause me to lose fastboot support and/or the ability to trim the locale data?

[2018-07-24 03:56] jasonmit commented on #166
See: https://github.com/jasonmit/ember-cli-moment-shim/issues/164 for this discussion

[2018-07-24 03:56] #166 closed, assigned to nobody

[2018-08-23 00:23] OakBehringer opened #167 "ember-power-calendar squashes moment.tz"
Wondering if you know how or why installing ember-power-calendar results in `moment.tz === undefined`. Searching through the closed issues on here, it seems to be known that other addons might cause this, but I can't figure out why, or how to address the issue.

Thanks!
Adam

[2018-08-23 19:13] OakBehringer commented on #167
Seems to be an issue with EPC:

https://github.com/cibernox/ember-power-calendar/issues/162

[2018-08-23 19:13] #167 closed, assigned to nobody

[2019-04-05 05:39] kiwiupover commented on #165
@ehubbell

you need to add `moment` to your `fastbootDependencies`

[code]

[2019-04-09 14:53] belgoros opened #170 "Months translation missing for Russian locale"
I have weird behaviour when displaying a date picker for `Russian` locale (`ru`).
I'm using [ember-pikaday](https://github.com/adopted-ember-addons/ember-pikaday) add-on and defined the initializer as it was [suggested](https://github.com/adopted-ember-addons/ember-pikaday#localization):
[code]
It works fine for all other languages but not for Russian.
The line `months: moment.localeData()._months

[2019-04-09 15:49] belgoros commented on #170
It seems like the problem comes from the way the `months` variable is [defined](https://github.com/moment/moment/blob/develop/locale/ru.js#L37) in the corresponding [ru.js](https://github.com/moment/moment/blob/develop/locale/ru.js) file:
[code]
it is a Hash and not String as in [fr.js](https://github.com/moment/moment/blob/develop/locale/fr.js#L12) translation, for example.
It means that we shoul

[2019-04-09 17:07] ashsearle commented on #170
Use `moment.localeData().months()` instead.

[2019-04-10 07:11] belgoros commented on #170
@ashsearle Thank you for your response. I modified and used `month()` instead in the pikaday initiaizer:
[code]
but it still displays `undefined` for months in the datepicker popup.
Even changing for:
[code]
does not solve the problem either. It concerns only the **Russian** locale, all the others (French, English, Portuguese) work fine 😢

[2019-04-10 08:50] belgoros commented on #170
`moment.js` seems to [manage](https://github.com/moment/moment/blob/develop/moment.js#L929) the case when `months` are not an Array:
[code]

[2019-04-10 09:06] ashsearle commented on #170
@belgoros I can only comment on the moment stuff: use [the localeData methods](https://momentjs.com/docs/#/i18n/locale-data/) instead of accessing private properties like `_months`, and you should end up with consistent data structures for every locale (e.g. arrays for months.)

[2019-04-10 09:09] belgoros commented on #170
@ashsearle , ok, I think it is sooner a [ember-pikaday](https://github.com/adopted-ember-addons/ember-pikaday) issue. I'll close this one and open a new one at `ember-pikaday` repo. Thank you.

[2019-04-10 09:09] #170 closed, assigned to nobody

[2019-06-26 22:54] thec0keman commented on #154
Looking into this more...  (migrating our app that has engines to fastboot)

It looks like both the public and addon definitions of `lib/moment` are being evaluated in fastboot world, and the latter is taking precedence.  As a result, `self.moment` is meaningless.

Out of curiosity: what is the advantage of using the current public imports vs. moving the logic to the `./lib` file?

[code]

That se

[2019-06-27 17:07] #154 closed, assigned to nobody

[2019-07-09 21:15] sdhull commented on #165
@kiwiupover I get this same error. I tried adding `moment` to `fastbootDependencies` and it still doesn't work and I have no idea why

EDIT: this only seems to be a problem (for me) when I run fastboot-app-server locally... When it runs in prod, no moment errors, and when it runs locally via ember-cli-fastboot, no moment errors. So I'm truly at a loss.

[2019-07-28 09:57] michelvermeer commented on #165
It seems that fastboot does not handle transformations accordingly.
To fix this, add the following to your ember-cli-build.js

`app.import('node_modules/moment/moment.js', {
		using: [
			{ transformation: 'amd', as: 'moment' }
		]
	});`

[2019-09-03 23:27] billdami commented on #165
I have this same issue running ember-cli-fastboot 2.1.1 and fastboot-app-server 1.1.0, both in dev _and_ production environments. It does not occur when just running the fastboot dev server (via `ember serve`) locally.

@michelvermeer's fix above to manually import moment.js in ember-cli-build.js resolves the issue for me.

[2020-02-20 14:34] RobbieTheWagner opened #181 "Should moment-timezone be huge?"
It seems like moment-timezone is almost double the size of Ember, which is surprising.

<img width="562" alt="Screen Shot 2020-02-20 at 9 22 46 AM" src="https://user-images.githubusercontent.com/2640861/74944577-41bfb680-53c4-11ea-8894-32a00b2a618c.png">

[2020-03-29 14:53] antonbavykin1991 commented on #165
maybe just need to update version of release,
`https://github.com/jasonmit/ember-cli-moment-shim/blob/master/addon/lib.js`
vs
`https://github.com/jasonmit/ember-cli-moment-shim/blob/v3.7.1/addon/lib.js`

try to check with my fork, in your package.json
`"ember-cli-moment-shim": "git://github.com/antonbavykin1991/ember-cli-moment-shim.git"`

[2020-04-25 01:11] erichaus commented on #164
Is this needed anymore or better to just npm i moment?

[2020-04-25 04:04] jasonmit commented on #164
@burritoIand not really unless you care about targeting specific locale & timezone data for payload size reasons.

[2020-04-25 07:23] erichaus commented on #164
ok so I noticed that I had `moment`, `ember-moment`, and `ember-cli-moment-shim` in my project and thought I need to clean it up.. but ember-moment, which I use for a few template helpers it offers, includes moment AND ember-cli-moment-shim as dependencies of it's own!

I tried removing ember-cli-moment-shim and relying on my own `moment` dependency, but for some reason that breaks fastboot. Reins

[2020-04-25 19:48] erichaus commented on #164
ended up replacing all momentness with dayjs and a few custom helpers :)

[2020-04-25 19:53] jasonmit commented on #181
@rwwagner90 seems way off.

https://momentjs.com/timezone/ includes the sizes for comparison (12kb w/ data)

[2020-04-26 12:58] RobbieTheWagner commented on #181
Something is off then. This is the size when including all timezeones it seems.

[2020-04-26 21:10] jasonmit commented on #181
On second thought - your screenshot isn't including gzipped numbers.  It should be about 20-30kb gzipped as the moment-timezone site advertises.  I also verified resource size vs transfer size on moment's own site serving up moment-timezone w/ data:

![image](https://user-images.githubusercontent.com/3108309/80319831-8b16f280-87c7-11ea-969b-067d73f69edb.png)

Raw file sizes of timezone match the n

[2020-04-26 21:10] #181 closed, assigned to nobody

[2020-05-07 09:44] elatonsev opened #183 "Can't build for production since moment v2.25.1 released"
Fixing moment version on 2.24.0 helps, but it is still an issue.

[code]
https://github.com/adopted-ember-addons/ember-pikaday/issues/343#issuecomment-623244117

[2020-05-09 07:53] arenoir commented on #183
I am also unable to build my application.  Strangely it builds in development mode but not in test mode on circleci.

[code]

[2020-05-09 16:53] jrjohnson commented on #183
I've been digging into this. It appears that `moment.min.js` in Moment 2.25.0+ is valid, but when it is used in an ember app it produces invalid JS which terser cannot process. I haven't figured out why yet.  One possible option is for this addon to bundle the non-minified moment.js and let them consuming app handle minification as it does for other assets.

Terser Issue: https://github.com/terser

[2020-05-11 04:01] #183 closed, assigned to nobody

[2020-05-11 04:13] jasonmit commented on #183
Versioned in 3.8.0

[2020-05-11 07:41] #148 closed, assigned to nobody

[2020-05-11 07:41] #79 closed, assigned to nobody

[2020-05-11 07:42] #98 closed, assigned to nobody

[2020-05-11 19:18] jasonmit commented on #165
This should be resolved now in 3.8.0

[2020-05-11 19:18] #165 closed, assigned to nobody

[2020-05-12 00:11] bmaehr commented on #183
didn't fix it for me.

Neither 3.8.0 did it.

[code]
[code]
Or
[code]

[2020-05-12 08:27] bmaehr commented on #183
Combining all together worked:
[code]

[2020-05-18 11:31] zardaloop commented on #183
@bmaehr thanks for sharing this solution, it seems this is the only way for the time being to resolve this issue.

[2020-05-18 15:00] jrjohnson commented on #183
It may be that you have other packages relying on the wrong version of `ember-cli-moment-shim` try running `npm ls ember-cli-moment-shim` or `yarn list --pattern moment` and see what shows up.

Or it may be that this fix didn't actually fix the issue, do you have an app or branch I can take a look at to test?

[2020-05-18 15:11] zardaloop commented on #183
@jrjohnson Hi Johnathan. Thanks for your comment. It is actually an internal project we have. The problem is, we have many small internal ember addons, some of those addons have the ember-cli-moment-shim fixed to 3.7.1. So they don't have any hat "^". However it seems there are some other third party packages that we are using which are also using ember-cli-moment-shim and those have hat. Therefor

[2020-05-18 15:17] jrjohnson commented on #183
That makes sense without the `^` you won't get this fix and will still need to pin the `moment` version. In fact with Ember addons you sometimes can't actually determine what version you will get. Highly recommend [ember-cli-dependency-lint](https://github.com/salsify/ember-cli-dependency-lint) as a way to track down these conflicts and add tests to ensure they don't pop up again.

[2020-05-18 15:36] zardaloop commented on #183
@jrjohnson Many thanks Johnathan, I did not know about that package. I will install it and will it a go.

[2020-07-14 05:32] nagasai-praveen opened #186 "can you increment major instead of minor for 3.8.0 release"
since there is a babel version change in v3.8.0 instead of minor increment can you do major increment.

the problem I am facing is I am using `ember-power-calendar` which is having dependency of `ember-cli-moment-shim` i am using babel 5 but due to your recent release and increment of `babel` version it is causing problem in my addon.

or else can you guide me how to lock `ember-cli-moment-shim` d

[2020-07-14 17:42] jrjohnson commented on #186
@nagasai-praveen can you tell us a bit more about how this is breaking for your app? I'm fairly certain that ember-cli does some magic internally to ensure that addons and apps can have very different versions of `ember-cli-babel` without causing any breaking issues.

[2020-07-16 10:29] nagasai-praveen commented on #186
Even in my package.json i tried locking `ember-cli-moment-shim`

so below is my addon package.json

`{ "name": "ember-dynamic-form", "version": "1.12.0", "description": "The default blueprint for ember-cli addons.", "directories": { "doc": "doc", "test": "tests" }, "scripts": { "build": "ember build", "start": "ember server", "test": "ember try:each", "test-server": "COVERAGE=TRUE ember test --ser

[2020-07-24 09:49] mydea opened #187 "includeLocales: true stopped working in 3.8.0"
After updating from 3.5.0 to 3.8.0, `includeLocales: true` stopped working with the error:

[code]

Removing the line makes the build work again, however then it does not include all locales. It works if I manually specify locales.

This happens in an addon's dummy app.

[2020-08-04 01:27] jasonmit commented on #187
@mydea if at all possible, I'd move away from using this addon.  Since you're bundling all locales it doesn't seem like you need any of it's capabilities.

It doesn't add much value anymore now that bundling libs is effortless with ember-auto-import.

[2020-08-04 07:52] mydea commented on #187
Yeah, in that case it didn't really matter, as I could specify the locales, and it's just for an addon's dummy app. However, it was rather unexpected and took me some time to find the cause of my sudden build failures :)

[2020-08-07 21:52] maxhq commented on #164
I case anyone runs into the same problems as me:
When trying to replace *ember-cli-moment-shim* with *moment* while using *ember-cli-bootstrap-datetimepicker* there is a complaint from *bootstrap-datetimepicker*:
It can't find the global `moment` variable.

I solved it by adding this to *ember-cli-build.js*:
[code]
It did not work without the `prepend: true` and took me a long time to figure out.

[2020-09-24 23:57] kriswill opened #188 "Moment.js is shutting down"
Now that moment.js is no longer going to be updated, what alternatives should we seek for this Addon?

See: https://momentjs.com/docs/#/-project-status/

[2020-10-08 15:05] rreckonerr commented on #187
Got this same error upgrading from 3.7.1

[2020-10-20 23:12] jasonmit commented on #188
There's luxon, dayjs, native Intl.DateTimeFormat APIs, etc.  As for a replacement to this addon, I don't believe it's been that useful since ember-auto-import made bundling external libs significantly easier than what was there prior.

Loading something like dayjs should now be as simple as:

[code]

[code]

[2021-01-26 00:43] mehulkar commented on #187
cc @jrjohnson. Issue is from #184. Just need to change the import path:

https://github.com/jasonmit/ember-cli-moment-shim/pull/184/files#r564138289

[2021-01-27 16:19] fsmanuel opened #189 "TypeError: Cannot redefine property: name"
Hey @jasonmit I used ember-cli-moment-shim for years and love it. In a current project I run into the problem that old browsers for example Chrome Mobile WebView 39 throw a `TypeError: Cannot redefine property: name` here: https://github.com/jasonmit/ember-cli-moment-shim/blob/master/addon/lib.js#L16

I'm not familiar with the loader.js and what could be a solution to fix this problem.
@rwjblue ca

[2021-01-27 17:00] jasonmit commented on #189
I'd recommend migrating away from this addon as it's no longer actively maintained.  Moment itself has also been put in legacy mode: https://sebastiandedeyne.com/moment-js-thank-you-for-your-service/

[2021-02-03 12:39] fsmanuel commented on #189
@jasonmit thanks for the recommendation. I'll see if I can do the migration.

[2022-02-04 23:09] #189 closed, assigned to nobody

[2022-02-04 23:09] jrjohnson commented on #187
Locales can now be bundled without this addenda following the instructions at `ember-moment`.

[2022-02-04 23:09] #187 closed, assigned to nobody

[2022-02-04 23:11] jrjohnson commented on #164
Success! This addon is no longer required and instructions for bundling moment, locales, and timezones can be found on the `ember-moment` README as of v10.

[2022-02-04 23:11] #164 closed, assigned to nobody

[2022-02-04 23:11] #186 closed, assigned to nobody

[2022-02-05 00:41] jasonmit commented on #188
Closing as it's now reflected into the README

[2022-02-05 00:41] #188 closed, assigned to nobody

[2022-07-21 12:41] amit199309 opened #193 "NPM vulnerability with moment/2.29.3"
Hi Team,

As we are internally using moment with version 2.29.3 [ember-cli-moment-shim](https://github.com/jasonmit/ember-cli-moment-shim) that causing npm vulnerability. This can we fixed if we increase moment dependency version from 2.29.3 to 2.29.4 ( latest version ). Please check and suggest.

Thank you

[2022-07-21 21:06] jrjohnson commented on #193
You should do so in your app, I don't think any change is required here. If I'm not understanding your question please re-open and add more details about what needs to change.

As an aside you can also drop this add-on entirely and follow the instructions at https://github.com/adopted-ember-addons/ember-moment#using-momentjs-in-ember-apps--addons to include moment in your ember app.

[2022-07-21 21:06] #193 closed, assigned to nobody